* {
    margin: 7px;
    padding: 0;
    font-family: 'Times New Roman';
  }
form{
    background-color: rgb(211, 189, 180);
    border: 2px solid black;
    width: 500px;
}
#error{
    color: red;
}
#description{
    width: 50%;
}